NEXT_PUBLIC_SUPABASE_URL=https://ivlwadsixcetunnhkkam.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2bHdhZHNpeGNldHVubmhra2FtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MTUyMDYsImV4cCI6MjA4ODk5MTIwNn0.vFD-bVVEX-cgFs4GmwX8cA4aVXIul2bWlEIiNl3ZeSU
NEXT_PUBLIC_EVOLUTION_API_URL=https://evo.devnoflow.com.br
NEXT_PUBLIC_EVOLUTION_API_KEY=gJRYf6JN8RsL2jrPolWZaI7LNOe6XDMC
